<section class="section main-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Activities</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">Cardinal Key Society</h3>
                <div class="time">Inducted 2015</div>
            </div><!--//upper-row-->
            <div class="location">Muhlenberg College, PA</div>
        </div><!--//meta-->
        <div class="details">
            <p>Inducted as a member of this prestigious organization after a
                vigorous application process. Assist with the execution of
                Homecoming, Honors Convocation, Commencement, and other alumni events.
                Requires professional behavior through interactions with alumni.</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">Judicial Panel Member </h3>
                <div class="time">Inducted 2014</div>
            </div><!--//upper-row-->
            <div class="location">Muhlenberg College, PA</div>
        </div><!--//meta-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">Black Student Association - Treasurer</h3>
                <div class="time">Fall 2014 - Spring 2015</div>
            </div><!--//upper-row-->
            <div class="location">Muhlenberg College, PA</div>
        </div><!--//meta-->
    </div><!--//item-->

</section><!--//section-->
