<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I am currently an undergraduate student at Muhlenberg College pursuing
    a B.S. in Biology with two minors in Public Health and Sustainable Studies.</p>

	<p>As a senior, I'm looking at doctoral programs. My research interests are still
		broad and include: ecology, animal development and how it depends on abiotic
		elements in its environment, and the development of sustainable models.</p>
</div><!--//summary-->
</section><!--//section-->
