<section class="section main-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">Laboratory Technician for Microbiology Laboratory</h3>
                <div class="time">Fall 2015-Present</div>
            </div><!--//upper-row-->
            <div class="location">Muhlenberg College, PA</div>
        </div><!--//meta-->
        <div class="details">
            <p>Prepare all the weekly supplies for the laboratory: media, plates,
                bacterial cultures, and autoclaving biohazardous materials and waste.</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">Tour Guide</h3>
                <div class="time">Fall 2013 - Present</div>
            </div><!--//upper-row-->
            <div class="location">Muhlenberg College, PA</div>
        </div><!--//meta-->
        <div class="details">
            <p>Awarded one of 50 available positions from a pool of over 100
                applicants to act as a liaison between the admissions staff and
                the prospective students. Apply interpersonal skills through
                interactions with prospective students to showcase the academic
                and social atmospheres, and to promote extracurricular activities as
                well as educational resources on campus.</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">Recitation Leader for National Science Foundation Grant</h3>
                <div class="time">Fall 2016</div>
            </div><!--//upper-row-->
            <div class="location">Muhlenberg College, PA</div>
        </div><!--//meta-->
        <div class="details">
            <p>Independently, taught a weekly science class for first-year students.
                This class was affiliated with the Introduction to Biology lecture
                and was funded through a Nation Science Foundation grant aimed at
                promoting the retention of under-represented students in the sciences.
                Prepared and presented topics related to adjusting to college and preparing
                for exams, focusing on reviewing class material and establishing efficient
                study habits. Instructed students on the basics of experimental design and
                understanding primary literature.</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">Laboratory Assistant for Introductory Biology</h3>
                <div class="time">Fall 2016</div>
            </div><!--//upper-row-->
            <div class="location">Muhlenberg College, PA</div>
        </div><!--//meta-->
        <div class="details">
            <p>Assisted in teaching content-related material in the laboratory
                classroom, led review sessions, and assisted with maintenance of
                materials such as: loading and running gels, centrifuging, insect
                colony maintenance.</p>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->
