<section class="section main-section">
    <h2 class="section-title"><i class="fa fa-line-chart"></i>Presentations</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">Poster Society for Integrative
                    &amp; Comparative Biology
                </h3>
                <div class="presentation-type">Research Poster</div>
                <div class="time">January 2017</div>
            </div><!--//upper-row-->
            <div class="location">New Orleans, LA</div>
        </div><!--//meta-->
        <div class="details">
            <p>National research conference. “Climate change and stress-eating
                slugs: comparative responses of an invasive and native species”;
                Competed in Best Student Presentation Program.</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">Lehigh Valley Ecology
                    &amp; Evolution Symposium: 13th Annual Meeting</h3>
                <div class="presentation-type">Research Talk</div>
                <div class="time">April 2015</div>
            </div><!--//upper-row-->
            <div class="location">Bethlehem, PA</div>
        </div><!--//meta-->
        <div class="details">
            <p>Regional scientific conference with over 100 registrants.
                “Feeding Preferences and Rates in Native and Invasive Slugs”;
                Competed in Best Undergraduate Oral Presentation Program.</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">Society for Integrative &amp;
                    Comparative Biology</h3>
                <div class="presentation-type">Research Poster</div>
                <div class="time">January 2016</div>
            </div><!--//upper-row-->
            <div class="location">Portland, Oregon</div>
        </div><!--//meta-->
        <div class="details">
            <p>A national research conference.
                “Preferences and rates of feeding in the terrestrial slugs
                <i>Ariolimax columbianus</i> and <i>Arion rufus</i>”; Competed
                in Best Student Presentation Program.</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">Friday Harbor Labs - Research for Undergraduate Seminar Series</h3>
                <div class="presentation-type">Research Talk</div>
                <div class="time">August 2015</div>
            </div><!--//upper-row-->
            <div class="location">Friday Harbor, WA</div>
        </div><!--//meta-->
        <div class="details">
            <p>An evening talk for the scientific public. “Preferences and Rates
                of Feeding in <i>Ariolimax columbianus</i> and <i>Arion rufus</i>.”</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">Lehigh Valley Ecology &amp; Evolution Symposium: 12th Annual Meeting</h3>
                <div class="presentation-type">Research Poster</div>
                <div class="time">April 2015</div>
            </div><!--//upper-row-->
            <div class="location">Allentown, PA</div>
        </div><!--//meta-->
        <div class="details">
            <p>A regional scientific conference with over 100 registrants
                “Differential habitat use by a stream isopod (<i>Lirceus sp.</i>)
                when faced with predators.”</p>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->
