<section class="section main-section">
    <h2 class="section-title"><i class="fa fa-newspaper-o">
    </i>Publications</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">
                    <a href="https://dlib.lib.washington.edu/researchworks/bitstream/handle/1773/34666/Mayol_2015.pdf?sequence=1&isAllowed=y">
                    Preferences and Rates of Feeding in <i>Ariolimax columbianus</i> and <i>Arion rufus</i>
                </a><i class="fa fa-external-link" aria-hidden="true"></i></h3>
                <div class="author">Mayol M and Iyengar EV.</div>
                <div class="time">2015</div>
            </div><!--//upper-row-->
        </div><!--//meta-->
        <div class="details">
            <p>Archived at the University of Washington.</p>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->
