<section class="section recognitions-section">
    <h2 class="section-title"><i class="fa fa-trophy">
    </i>Awards &amp; Recognitions</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">Honors in Biology</h3>
                <div class="time">expected May 2017</div>
            </div><!--//upper-row-->
        </div><!--//meta-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">The John Ezra Trainer Award</h3>
                <div class="time">Summer 2015 &amp; 2016</div>
            </div><!--//upper-row-->
        </div><!--//meta-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">Crist Summer Research Grant</h3>
                <div class="time">Summer 2016</div>
            </div><!--//upper-row-->
        </div><!--//meta-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">Dean’s List</h3>
                <div class="time">Spring 2015 &amp; Fall 2015</div>
            </div><!--//upper-row-->
        </div><!--//meta-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">Commitment to Excellence Merit Scholarship</h3>
                <div class="time">2013-2017</div>
            </div><!--//upper-row-->
        </div><!--//meta-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title"></h3>
                <div class="time">2015</div>
            </div><!--//upper-row-->
        </div><!--//meta-->
    </div><!--//item-->

</section><!--//section-->
