<section class="section main-section">
    <h2 class="section-title"><i class="fa fa-flask"></i>Research</h2>

    <!-- Undergraduate Research -->
    <h3 class="section-subtitle">Undergraduate Research</h3>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">Data Analysis</h3>
                <div class="time">2015 - Present</div>
            </div><!--//upper-row-->
            <div class="location">Muhlenberg College, PA</div>
        </div><!--//meta-->
        <div class="details">
            <p>Analyzing data collected during summers 2015 and 2016
                by completing area analysis in ImageJ, calculating
                averages, standard deviation, and preparing graphs
                in Excel, in addition to reading, interpreting,
                and writing primary literature. This work has
                culminated into an archived paper at the University
                of Washington and multiple research posters and
                talks.</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">The Effects of Reduced Salinity on the Green Sea Urchin
                    (<i>Lytechinus variegatus</i>)</h3>
                <div class="time">Fall 2016</div>
            </div><!--//upper-row-->
            <div class="location">Muhlenberg College, PA</div>
        </div><!--//meta-->
        <div class="details">
            <p>Investigated the effects of reduced salinity on the
                green sea urchin (<i>Lytechinus variegatus</i>) under a
                scanning electron microscope. This research has been
                presented in a college-wide poster session.</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">Feeding Preferences of Freshwater Isopods (<i>Lirceus sp.</i>)</h3>
                <div class="time">Spring 2015</div>
            </div><!--//upper-row-->
            <div class="location">Muhlenberg College, PA</div>
        </div><!--//meta-->
        <div class="details">
            <p>Conducted experiments in a laboratory setting to
                determine whether freshwater isopods (<i>Lirceus sp.</i>)
                preferred fine-particulate organic material or
                coarse-particulate organic material as a habitat.
                This research included collecting isopods in the
                stream, maintaining the animals, and reading primary
                literature. Ultimately, this work culminated to a
                research poster at a regional conference.</p>

        </div><!--//details-->
    </div><!--//item-->

    <!-- Field Research -->
    <h3 class="section-subtitle">Field Research</h3>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">The Effects of Climate Change on Two Terrestrial Slugs
                    (<i>Ariolimax columbianus</i> and <i>Arion rufus</i>)</h3>
                <div class="time">Summer 2016</div>
            </div><!--//upper-row-->
            <div class="location">Friday Harbor Labs, WA</div>
        </div><!--//meta-->
        <div class="details">
            <p>Independent researcher, advised by Erika V. Iyengar.
                This work, regarding the effects of climate change
                on two terrestrial slug species (<i>Ariolimax columbianus</i>
                and <i>Arion rufus</i>), will be incorporated into Biology
                Honors Thesis. This research has also resulted in
                multiple poster sessions.</p>

        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">The Competitive Relationship Between Two Terrestrial Slugs
                    <i>Ariolimax columbianus</i> and <i>Arion rufus</i></h3>
                <div class="time">Summer 2015</div>
            </div><!--//upper-row-->
            <div class="location">Friday Harbor Labs, WA</div>
        </div><!--//meta-->
        <div class="details">
            <p>Nation Science Foundation awarded position (Research
                Experience for Undergraduates), guided by Erika V.
                Iyengar. This research explored whether there was a
                competitive relationship between two terrestrial slug
                species (<i>Ariolimax columbianus</i> and <i>Arion rufus</i>) by
                analyzing feeding habits. This work culminated into multiple
                poster sessions and research talks.</p>

        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->
