<section class="section recognitions-section">
    <h2 class="section-title"><i class="fa fa-star">
    </i>Skills</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">ImageJ</h3>
            </div><!--//upper-row-->
        </div><!--//meta-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">Data Analysis</h3>
            </div><!--//upper-row-->
        </div><!--//meta-->
        <div class="details">
            <p>Excel: manipulation of data sets and statistical evaluations
                (calculating averages, standard error, creating graphs of
                data)</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">Research</h3>
            </div><!--//upper-row-->
        </div><!--//meta-->
        <div class="details">
            <p>Finding, reading, and evaluating scientific primary literature</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">Presenting</h3>
            </div><!--//upper-row-->
        </div><!--//meta-->
        <div class="details">
            <p>Presenting scientific content in a variety of formats:
                scientific poster presentations as well as laboratory and educational
                instruction</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="title">Scanning Electron Microscopy</h3>
            </div><!--//upper-row-->
        </div><!--//meta-->
    </div><!--//item-->

</section><!--//section-->
